<?xml version='1.0' encoding='utf-8'?>

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/amazonclone</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.amazonclonewebapp.model.User"/>
        <mapping class="com.amazonclonewebapp.model.Product"/>
        <mapping class="com.amazonclonewebapp.model.CartItem"/>
        <mapping class="com.amazonclonewebapp.model.Order"/>
        <mapping class="com.amazonclonewebapp.model.OrderItem"/>
        <mapping class="com.amazonclonewebapp.model.BoxItem"/>
    </session-factory>
</hibernate-configuration>
